.table {
  width: 100%;
  border-collapse: collapse;
}

.table th, .table td {
  border: 1px solid #ccc;
  padding: 0.5em;
}

.table th {
  background-color: #e5f1f8;
  text-align: center;
}

.table tr:hover {
  background-color: #f0f8ff;
}

/* ホバー時の背景色 */
.hovered-row td {
  background-color: #f0f8ff;
}

/* ホバー中の共有行 (rowSpan対応) */
.hovered-row:hover td {
  background-color: #f0f8ff;
}

.pagination {
  display: flex;
  justify-content: flex-end;
  width: 100%;
}

.button-container {
  display: flex;
  justify-content: flex-end;
  width: 100%;
  margin-bottom: -1.5em;
}
